<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cantons</key>
	<array>
		<dict>
			<key>Code</key>
			<string>AG</string>
			<key>Flag</key>
			<string>AG.png</string>
			<key>NameDE</key>
			<string>Aargau</string>
			<key>NameEN</key>
			<string>Aargau</string>
			<key>NameFR</key>
			<string>Argovie</string>
			<key>NameIT</key>
			<string>Argovia</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>AI</string>
			<key>Flag</key>
			<string>AI.png</string>
			<key>NameDE</key>
			<string>Appenzell Inner.</string>
			<key>NameEN</key>
			<string>Appenzell Inner.</string>
			<key>NameFR</key>
			<string>Appenzell Rhodes-Int.</string>
			<key>NameIT</key>
			<string>Appenzello Interno</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>AR</string>
			<key>Flag</key>
			<string>AR.png</string>
			<key>NameDE</key>
			<string>Appenzell Ausser.</string>
			<key>NameEN</key>
			<string>Appenzell Ausser.</string>
			<key>NameFR</key>
			<string>Appenzell Rhodes-Ext.</string>
			<key>NameIT</key>
			<string>Appenzello Esterno</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>BL</string>
			<key>Flag</key>
			<string>BL.png</string>
			<key>NameDE</key>
			<string>Basel-Landschaft</string>
			<key>NameEN</key>
			<string>Basel-Landschaft</string>
			<key>NameFR</key>
			<string>Bâle-Campagne</string>
			<key>NameIT</key>
			<string>Basilea Campagna</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>BS</string>
			<key>Flag</key>
			<string>BS.png</string>
			<key>NameDE</key>
			<string>Basel-Stadt</string>
			<key>NameEN</key>
			<string>Basel-Stadt</string>
			<key>NameFR</key>
			<string>Bâle-Ville</string>
			<key>NameIT</key>
			<string>Basilea Città</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>BE</string>
			<key>Flag</key>
			<string>BE.png</string>
			<key>NameDE</key>
			<string>Bern</string>
			<key>NameEN</key>
			<string>Bern</string>
			<key>NameFR</key>
			<string>Berne</string>
			<key>NameIT</key>
			<string>Berna</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>FR</string>
			<key>Flag</key>
			<string>FR.png</string>
			<key>NameDE</key>
			<string>Freiburg</string>
			<key>NameEN</key>
			<string>Freiburg</string>
			<key>NameFR</key>
			<string>Fribourg</string>
			<key>NameIT</key>
			<string>Friburgo</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>GE</string>
			<key>Flag</key>
			<string>GE.png</string>
			<key>NameDE</key>
			<string>Genf</string>
			<key>NameEN</key>
			<string>Genf</string>
			<key>NameFR</key>
			<string>Genève</string>
			<key>NameIT</key>
			<string>Ginevra</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>GL</string>
			<key>Flag</key>
			<string>GL.png</string>
			<key>NameDE</key>
			<string>Glarus</string>
			<key>NameEN</key>
			<string>Glarus</string>
			<key>NameFR</key>
			<string>Glaris</string>
			<key>NameIT</key>
			<string>Glarona</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>GR</string>
			<key>Flag</key>
			<string>GR.png</string>
			<key>NameDE</key>
			<string>Graubünden</string>
			<key>NameEN</key>
			<string>Graubünden</string>
			<key>NameFR</key>
			<string>Grisons</string>
			<key>NameIT</key>
			<string>Grigioni</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>JU</string>
			<key>Flag</key>
			<string>JU.png</string>
			<key>NameDE</key>
			<string>Jura</string>
			<key>NameEN</key>
			<string>Jura</string>
			<key>NameFR</key>
			<string>Jura</string>
			<key>NameIT</key>
			<string>Giura</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>LU</string>
			<key>Flag</key>
			<string>LU.png</string>
			<key>NameDE</key>
			<string>Luzern</string>
			<key>NameEN</key>
			<string>Luzern</string>
			<key>NameFR</key>
			<string>Lucerne</string>
			<key>NameIT</key>
			<string>Lucerna</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>NE</string>
			<key>Flag</key>
			<string>NE.png</string>
			<key>NameDE</key>
			<string>Neuenburg</string>
			<key>NameEN</key>
			<string>Neuenburg</string>
			<key>NameFR</key>
			<string>Neuchâtel</string>
			<key>NameIT</key>
			<string>Neuchâtel</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>NW</string>
			<key>Flag</key>
			<string>NW.png</string>
			<key>NameDE</key>
			<string>Nidwalden</string>
			<key>NameEN</key>
			<string>Nidwalden</string>
			<key>NameFR</key>
			<string>Nidwald</string>
			<key>NameIT</key>
			<string>Nidvaldo</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>OW</string>
			<key>Flag</key>
			<string>OW.png</string>
			<key>NameDE</key>
			<string>Obwalden</string>
			<key>NameEN</key>
			<string>Obwalden</string>
			<key>NameFR</key>
			<string>Obwald</string>
			<key>NameIT</key>
			<string>Obvaldo</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>SG</string>
			<key>Flag</key>
			<string>SG.png</string>
			<key>NameDE</key>
			<string>St. Gallen</string>
			<key>NameEN</key>
			<string>St. Gallen</string>
			<key>NameFR</key>
			<string>Saint-Gall</string>
			<key>NameIT</key>
			<string>San Gallo</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>SH</string>
			<key>Flag</key>
			<string>SH.png</string>
			<key>NameDE</key>
			<string>Schaffhausen</string>
			<key>NameEN</key>
			<string>Schaffhausen</string>
			<key>NameFR</key>
			<string>Schaffhouse</string>
			<key>NameIT</key>
			<string>Sciaffusa</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>SO</string>
			<key>Flag</key>
			<string>SO.png</string>
			<key>NameDE</key>
			<string>Solothurn</string>
			<key>NameEN</key>
			<string>Solothurn</string>
			<key>NameFR</key>
			<string>Soleure</string>
			<key>NameIT</key>
			<string>Soletta</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>SZ</string>
			<key>Flag</key>
			<string>SZ.png</string>
			<key>NameDE</key>
			<string>Schwyz</string>
			<key>NameEN</key>
			<string>Schwyz</string>
			<key>NameFR</key>
			<string>Schwyz</string>
			<key>NameIT</key>
			<string>Svitto</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>TG</string>
			<key>Flag</key>
			<string>TG.png</string>
			<key>NameDE</key>
			<string>Thurgau</string>
			<key>NameEN</key>
			<string>Thurgau</string>
			<key>NameFR</key>
			<string>Thurgovie</string>
			<key>NameIT</key>
			<string>Turgovia</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>TI</string>
			<key>Flag</key>
			<string>TI.png</string>
			<key>NameDE</key>
			<string>Tessin</string>
			<key>NameEN</key>
			<string>Tessin</string>
			<key>NameFR</key>
			<string>Tessin</string>
			<key>NameIT</key>
			<string>Ticino</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>UR</string>
			<key>Flag</key>
			<string>UR.png</string>
			<key>NameDE</key>
			<string>Uri</string>
			<key>NameEN</key>
			<string>Uri</string>
			<key>NameFR</key>
			<string>Uri</string>
			<key>NameIT</key>
			<string>Uri</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>VD</string>
			<key>Flag</key>
			<string>VD.png</string>
			<key>NameDE</key>
			<string>Waadt</string>
			<key>NameEN</key>
			<string>Waadt</string>
			<key>NameFR</key>
			<string>Vaud</string>
			<key>NameIT</key>
			<string>Vaud</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>VS</string>
			<key>Flag</key>
			<string>VS.png</string>
			<key>NameDE</key>
			<string>Wallis</string>
			<key>NameEN</key>
			<string>Wallis</string>
			<key>NameFR</key>
			<string>Valais</string>
			<key>NameIT</key>
			<string>Vallese</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>ZG</string>
			<key>Flag</key>
			<string>ZG.png</string>
			<key>NameDE</key>
			<string>Zug</string>
			<key>NameEN</key>
			<string>Zug</string>
			<key>NameFR</key>
			<string>Zoug</string>
			<key>NameIT</key>
			<string>Zugo</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>ZH</string>
			<key>Flag</key>
			<string>ZH.png</string>
			<key>NameDE</key>
			<string>Zürich</string>
			<key>NameEN</key>
			<string>Zürich</string>
			<key>NameFR</key>
			<string>Zurich</string>
			<key>NameIT</key>
			<string>Zurigo</string>
		</dict>
	</array>
</dict>
</plist>
